fastapi==0.68.1
starlette==0.14.2
pydantic==1.10.26
typing-extensions>=4.0.0
asgiref==3.4.1
click==8.0.1
colorama==0.4.4
SQLAlchemy==1.4.23
SQLAlchemy_utils==0.37.8
fastapi-jwt-auth==0.5.0
uvicorn==0.15.0
Werkzeug>=2.0.0
